@{
    ViewData["Title"] = "Projects list";
}

@section Scripts {
    <script type="text/javascript" src="~/js/project-functions.js"></script>
}

<partial name="_List" />

<div class="empty-index">No project selected</div>
