@{
    ViewData["Title"] = "Projects List";
}

@section Scripts {
    <script type="text/javascript" src="~/js/project-functions.js"></script>
}

<partial name="_List" />

@if (ViewBag.HasActiveTeam != null && ViewBag.HasActiveTeam)
{
    <div class="empty-index">No project selected</div>
}
else
{
    <div class="page-not-found">No active team is selected</div>
}
