@{
    ViewData["Title"] = "NotFound";
}

@section Scripts {
    <script type="text/javascript" src="~/js/project-functions.js"></script>
}

<partial name="_List" />

<div class="page-not-found">Can't find this project :(</div>
