@model ProjectViewModel

@{
    ViewData["Title"] = Model.Name;
}

@section Scripts {
    <script type="text/javascript" src="~/js/project-functions.js"></script>
}

<partial name="_List" />

<h2>Show</h2>

