/* Body layout */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
}

.body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content {
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Form inputs/labels */

.form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #78909C;
    background-color: inherit;
    padding: 10px 0;
}

.form-input:focus {
    border-bottom: 1px solid #4DB6AC;    
}

.form-label {
    font-weight: initial;
    margin: 0;
}

.form-checkbox {
    display: none;
}

.form-checkbox-custom {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: auto;
    font-size: 18px;
    background-color: #CFD8DC;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.form-checkbox-custom:hover::before {
    position: absolute;
    color: #80CBC4;
    content: '\2714';
    margin-left: 2px;
    margin-top: -8px;
}

.form-checkbox-custom.checked::before {
    position: absolute;
    color: #4DB6AC;
    content: '\2714';
    margin-left: 2px;
    margin-top: -8px;
}

.form-checkbox ~ label {
    flex-grow: 1;
}

/* Flexbox */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* Buttons */

.btn-teal {
    background-color: #009688;
    color: #ECEFF1;
    border-color: #00695C;
}

.btn-teal:hover {
    background-color: #00897B;
    color: #ECEFF1;
    border-color: #00695C;
}

.btn-teal:focus {
    color: #ECEFF1;
}

.btn-teal-light {
    background-color: #4DB6AC;
    color: #ECEFF1;
    border-color: #26A69A;
}

.btn-teal-light:hover {
    background-color: #26A69A;
    color: #ECEFF1;
    border-color: #009688; 
}

.btn-teal-light:focus {
    color: #ECEFF1;
}

/* Loader */

.loader {
    display: none;
    height: 40px;
    width: 40px;
    border: 2px solid transparent;
    border-top: 2px solid #4DB6AC;
    border-bottom: 2px solid #4DB6AC;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Validation */

.validation-error-summary {
    color: #E53935;
    text-align: center;
    margin-bottom: 20px;
}

.validation-error-summary > ul {
    padding: 0;
}

.validation-error-summary li {
    list-style: none;
}

.validation-error-message {
    float: right;
    color: #E53935;
    margin-top: 5px;
}

.form-input-invalid {
    border-color: #E53935;
}

/* Side menu */

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 250px;
}

.side-menu-header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid #37474F;
    padding: 10px 0;
}

.side-menu-header > a {
    text-decoration: none;
}

.side-menu-footer {
    width: 100%;
    text-align: center;
    border-top: 1px solid #37474F;
    padding: 10px 0;
}

.menu-footer-user {
    font-size: 20px;
}

.menu-footer-logout {
    font-size: 14px !important;
}

.side-menu-actions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 20px 0 0 25px;
}

.menu-action {
    position: relative;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
}

.menu-action > span {
    position: absolute;
    left: -40px;
}

a.menu-action {
    text-decoration: none;
}

a.menu-action:hover,
a.menu-action:hover > span,
a.menu-footer-logout:hover {
    color: #80CBC4 !important;
}

/* Cookie consent */

.cookie-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.cookie-info {
    font-size: 18px;
    margin-right: 100px;
}

.cookie-info > span {
    font-size: 24px;
    margin-right: 15px;
}

.cookie-footer button {
    font-size: 16px;
}

/* Login/register page */

.page-login {
    justify-content: center;
    width: 600px;
    font-size: 14px;
}

.page-login .form-input {
    font-weight: 700;
}

.page-login .form-input::placeholder {
    font-weight: initial;
}

.page-login .loader-container {
    justify-content: center;
}

.page-login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 5px;
    padding: 10px 50px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
}

.page-login-form > h1 {
    align-self: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.login-submit {
    justify-content: center;
    margin: 50px 0 30px 0;
}

.login-submit > button {
    padding-left: 20px;
    padding-right: 20px;
}

.login-link {
    justify-content: center;
    font-size: 12px;
}

.login-link > a {
    margin-left: 5px;
}
