/* General */

a:focus,
[contenteditable] {
    outline: none;
}

span[contenteditable] {
    max-width: 70%;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}

/* Body layout */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    color: #263238;
}

body a {
    text-decoration: none !important;
}

.body-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex-grow: 1;
    display: flex;
    max-height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sub-menu-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    /* max-height: calc(100% - 20px); */
    width: calc(100% - 250px);
    padding: 40px 50px 50px 50px;
    overflow: auto;
}

.page-not-found {
    margin: 10% auto auto auto;
    color: #EF5350;
}

.empty-index {
    margin: 10% auto auto auto;
    color: #4DB6AC;
}

/* Form inputs/labels */

.form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #78909C;
    background-color: inherit;
}

.form-group .form-input {
    padding: 10px 0;
}

.form-input:focus {
    border-bottom: 1px solid #4DB6AC;    
}

.form-label {
    font-weight: initial;
    margin: 0;
}

.form-checkbox {
    display: none;
}

.form-checkbox-custom {
    display: flex;
    height: 15px;
    width: 15px;
    font-size: 18px;
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.form-checkbox-custom:hover {
    background-color: rgba(217, 216, 220, .2);
}

.form-checkbox-custom:hover::before {
    color: #80CBC4;
    content: '\2714';
    transform: translate(2px, -8px);
}

.form-checkbox-custom.checked::before {
    color: #4DB6AC;
    content: '\2714';
    transform: translate(2px, -8px);
}

/* Dialog Box */

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    z-index: 999;
}

.dialog-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    position: fixed;
    min-width: 400px;
    max-width: 600px;
    min-height: 200px;
    word-wrap: break-word;
    background-color: #ECEFF1;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 5px 0 rgba(96, 125, 139, .3);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(96, 125, 139, .3);
    z-index: 1500;
}

.dialog-box-header {
    flex-basis: 100%;
    display: flex;
    background-color: rgba(217, 216, 220, .2);
    border-bottom: 1px solid #CFD8DC;
    padding: 10px;
}

.dialog-box-header > .icon > span:hover {
    color: #263238;
}

.dialog-box-title {
    font-weight: 700;
    font-size: 16px;
    flex-grow: 1;
}

.dialog-box-body {
    flex-basis: 100%;
    margin: auto;
    text-align: center;
}

.dialog-box-footer {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dialog-box-footer > * {
    margin: 0 10px;
    min-width: 100px;
}

/* Flexbox */

.flex {
    display: flex;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* Buttons */

.btn-teal {
    background-color: #009688;
    color: #ECEFF1;
    border-color: #00695C;
}

.btn-teal:hover {
    background-color: #00897B;
    color: #ECEFF1;
    border-color: #00695C;
}

.btn-teal:focus {
    color: #ECEFF1;
}

.btn-teal-light {
    background-color: #00BFA5;
    color: #ECEFF1;
    border-color: #26A69A;
}

.btn-teal-light:hover {
    background-color: #00dca5;
    color: #ECEFF1;
    border-color: #00BFA5; 
}

.btn-teal-light:focus {
    color: #ECEFF1;
}

/* Loader */

.loader {
    display: none;
    height: 40px;
    width: 40px;
    border: 2px solid transparent;
    border-top: 2px solid #4DB6AC;
    border-bottom: 2px solid #4DB6AC;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.loader-small {
    height: 20px;
    width: 20px;
}

.loader-medium {
    height: 25px;
    width: 25px;
}

[class$="-header"] > .loader,
[class$="-header"] > .req-error {
    margin-left: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Request error icon */

.req-error {
    display: none;
    font-size: 20px;
    color: #E53935;
}

.req-error > #error-message {
    font-size: 14px;
    margin-left: 5px;
}

.req-error-small {
    font-size: 18px;
}

/* Validation */

.validation-error-summary {
    color: #E53935;
    text-align: center;
    margin-bottom: 20px;
}

.validation-error-summary > ul {
    padding: 0;
}

.validation-error-summary li {
    list-style: none;
}

.validation-error-message {
    float: right;
    color: #E53935;
    margin-top: 5px;
}

.form-input-invalid {
    border-color: #E53935;
}

/* Side menu */

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 250px;
    transition: width .2s ease-in-out;
}

.side-menu.closed {
    width: 30px !important;
}

.side-menu.closed > div {
    display: none;
}

.side-menu-header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid #37474F;
    padding: 10px 0;
}

.side-menu-header > a:hover,
.side-menu-header > a:focus {
    color: #ECEFF1;
}

.side-menu-footer {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #37474F;
    padding: 10px;
    padding-left: 20px;
}

.side-menu-footer > .user-icon {
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.side-menu-footer > .user-icon > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.side-menu-team {
    margin-bottom: 10px;
}

.menu-footer-user {
    font-size: 20px;
}

.menu-footer-logout {
    font-size: 14px !important;
}

.side-menu-actions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 20px 0 0 25px;
}

.menu-action {
    position: relative;
    font-size: 18px;
    padding: 10px 0;
    cursor: pointer;
}

.menu-action > span {
    position: absolute;
    left: -40px;
}

a.menu-action:hover,
a.menu-action:hover > span,
a.menu-footer-logout:hover,
a.menu-action:focus,
a.menu-action:focus > span,
a.menu-footer-logout:focus {
    color: #80CBC4 !important;
}

.side-menu-toggle {
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.side-menu-toggle:hover {
    color: #444;
}

/* Side sub-menu */

.side-menu-sub {
    border-right: 1px solid #B0BEC5;
    color: #666;
    overflow: auto;
}

.side-menu-sub-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px 15px 5px 15px;
}

.side-menu-sub-header a {
    color: #666;
}

.side-menu-sub-header a:hover {
    color: #263238;
}

.side-menu-sub-header-top {
    width: 100%;
    margin-bottom: 25px;
}

.side-menu-sub-header-top > .form-input {
    padding: 0;
}

.side-menu-sub-header-bottom {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.side-sub-menu-actions {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
}

.side-sub-menu-action {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #B0BEC5;
    padding: 10px 15px;
    cursor: pointer;
}

.side-sub-menu-action:last-child {
    border-bottom: 1px solid #B0BEC5;
}

a.side-sub-menu-action:hover {
    color: #37474F;
}

.side-sub-menu-action > span {
    flex-basis: 100%;
    max-width: 100%;
    word-wrap: break-word;
}

.side-sub-menu-action > span:nth-child(2) {
    color: #666;
    font-size: 12px;
}

.side-sub-menu-action:hover {
    background-color: rgba(170, 190, 197, .2);
}

.side-sub-menu-action.active {
    background-color: rgba(170, 190, 197, .5);
}

#add-project,
#add-team {
    cursor: pointer;
}

/* Cookie consent */

.cookie-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.cookie-info {
    font-size: 18px;
    margin-right: 100px;
}

.cookie-info > span {
    font-size: 24px;
    margin-right: 15px;
}

.cookie-footer button {
    font-size: 16px;
}

/* Login/register page */

.page-login {
    justify-content: center;
    width: 600px;
    font-size: 14px;
    margin: auto;
}

.page-login .form-input {
    font-weight: 700;
}

.page-login .form-input::placeholder {
    font-weight: initial;
}

.page-login .loader-container {
    justify-content: center;
}

.page-login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 5px;
    padding: 10px 50px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.3);
}

.page-login-form > h1 {
    align-self: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 700;
}

.login-submit {
    justify-content: center;
    margin: 50px 0 30px 0;
}

.login-submit > button {
    padding-left: 20px;
    padding-right: 20px;
}

.login-link {
    justify-content: center;
    font-size: 12px;
}

.login-link > a {
    margin-left: 5px;
}

/* Page header */

.page-header {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #CFD8DC;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 0;
}

.page-header:hover > .icons-container > .icon {
    display: block;
}

/* Icons */

.icons-container {
    display: flex;
}

.icon {
    display: none;
    color: #90A4AE;
    font-size: 12px;
    margin-left: 5px;
}

.icon > a {
    color: #90A4AE;
}

.icon-large {
    font-size: 16px;
}

.icon-static {
    display: block;
}

.icon:first-child {
    margin-left: 20px;
}

.icon:not(:last-child)::after {
    content: '|';
    margin: 0 5px;
}

.icon > span {
    cursor: pointer;
}

.icon span:hover {
    color: #80CBC4;
}

.icon.destructive > span:hover {
    color: #EF5350;
}

.add-link {
    color: #4DB6AC;
    cursor: pointer;
}

.add-link:hover {
    color: #009688;
}

/* Task groups */

.task-groups-container {
    flex-basis: 100%;
}

.task-groups-container > .loader,
.task-groups-container > .req-error {
    margin-left: 5px;
    margin-bottom: 10px;
}

.task-group {
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    margin-bottom: 10px;
}

.task-group-header {
    display: flex;
    align-items: center;
    background-color: rgba(217, 216, 220, .2);
    border-bottom: 1px solid #CFD8DC;
    padding: 10px;
}

.task-group-header:hover > .icons-container > .icon {
    display: block;
}

.toggle-task-group {
    margin-left: auto;
    cursor: pointer;
}

.task-group-header > span:not(:first-child) {
    font-size: 12px;
    color: #666;
}

#add-task-group {
    margin-left: 10px;
    margin-bottom: 20px;
}

.new-group {
    display: none;
    padding: 10px;
}

/* Tasks */

.tasks-container {
    padding: 10px 10px 10px 30px;
}

.tasks-container > .loader,
.tasks-container > .req-error {
    margin-bottom: 10px;
}

.task {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CFD8DC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.task:hover > .icons-container > .icon {
    display: block;
}

.task.completed > span {
    text-decoration: line-through;
    color: #666;
}

.task > .loader,
.task > .req-error {
    margin-left: 20px;
}

.task > .user-icons-container {
    display: flex;
    margin-left: 10px;
}

.task > .user-icons-container > .user-icon {
    width: 25px;
    height: 25px;
}

.task > .user-icons-container > .user-icon:not(:first-child) {
    margin-left: 5px;
}

.task > .user-icons-container > .user-icon > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#add-task {
    margin-left: 5px;
}

.new-task {
    display: none;
    border: none;
}

.priority > span {
    margin-right: 10px;
    font-size: 12px;
}

.priority-low {
    color: #78909C;
}

.priority-icon-low:hover {
    color: #78909C;
}

.priority-icon-normal:hover {
    color: #4DB6AC;
}

.priority-high {
    color: #FF7043;
}

.priority-icon-high:hover {
    color: #FF7043;
}

.priority-critical {
    color: #E53935;
}

.priority-icon-critical:hover {
    color: #E53935;
}

.priority-icon {
    display: none;
    margin-left: 5px;
    cursor: pointer;
}

.priority-icon:first-of-type {
    margin-left: 0;
}

/* Team/Projects */

.team-container {
    flex-basis: 100%;
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    margin-bottom: 10px;
}

.team-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(217, 216, 220, .2);
    border-bottom: 1px solid #CFD8DC;
    padding: 10px;
}

.list-container {
    margin-bottom: 10px;
    padding: 10px 10px 10px 30px;    
}

.toggle-container {
    cursor: pointer;
}

.list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CFD8DC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.list-item:hover > .icons-container > .icon {
    display: block;
}

.list-item > .loader,
.list-item > .req-error {
    margin-left: 20px;
}

#add-project,
#add-member {
    margin-left: 5px;
}

.new-project,
.new-member {
    display: none;
    border: none;
}

/* Task details */

.task-details-container {
    display: none;
    position: fixed;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eceff1;
    border: 1px solid #CFD8DC;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 rgba(96, 125, 139, .3);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(96, 125, 139, .3);
    z-index: 1100;
}

.task-details-container > .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.task-details-close-icon {
    position: absolute;
    left: 100%;
    top: 0%;
    margin-left: 10px;
    font-size: 18px;
    color: #546E7A;
    cursor: pointer;
}

.task-details-close-icon:hover {
    color: #263238;
}

#task-details-form {
    height: 100%;
}

.task-details {
    display: flex;
    height: 100%;
}

.details-menu {
    height: 100%;
    background-color: rgba(217, 216, 220, .2);
    padding: 20px;
    border-right: 1px solid #CFD8DC;
    border-radius: 5px 0 0 5px;
}

.info-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #616161;
    margin-bottom: 10px;
}

.info-group > label {
    margin-right: 50px;
}

.info-input {
    background-color: transparent;
    width: 100px;
    height: 30px;
    text-align: right;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
}

.info-input:hover {
    border: 1px solid #CFD8DC;
}

.info-input:focus {
    border: 1px solid #4DB6AC;
}

.details-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.details-title {
    display: flex;
    align-items: baseline;
}

.details-title > input {
    flex-grow: 1;
}

.details-input {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
}

input.details-input {
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
}

textarea.details-input {
    resize: none;
    padding: 8px;
    display: block;
    overflow: hidden;
    box-sizing: padding-box;
}

.details-input:hover {
    border: 1px solid #CFD8DC;
}

.details-input:focus {
    border: 1px solid #4DB6AC;
}

.details-title > .user-icons-container {
    display: flex;
    margin-bottom: 10px;
}

.details-title > .user-icons-container > .user-icon {
    width: 30px;
    height: 30px;
}

.details-title > .user-icons-container > .user-icon:first-child {
    margin-left: 20px;
}

.details-title > .user-icons-container > .user-icon:not(:first-child) {
    margin-left: 5px;
}

.details-title > .user-icons-container > .user-icon > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
