@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="cookie-footer bg-blue-grey-darken-1">
        <span class="cookie-info color-blue-grey-lighten-5">
            <span class="fas fa-info-circle"></span>
            This website uses cookies to ensure you get the best experience on our website.
        </span>
        <button type="button" class="btn btn-default" data-cookie-string="@cookieString">Got it!</button>
    </div>

    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}