@using PROJ.Logic.Managers

@inject SignInManager SignInManager
@inject IdentityUserManager IdentityUserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @IdentityUserManager.GetUserName(User)!</a>
        </li>
        <li>
            <a asp-controller="User" asp-action="LogOut">Logout</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}