@using PROJ.Logic.Identity.Managers
@using PROJ.Logic.UnitOfWork.Repositories

@inject SignInManager SignInManager
@inject IdentityUserManager IdentityUserManager
@inject UserRepository UserRepository

@if (SignInManager.IsSignedIn(User))
{
    <div class="side-menu bg-blue-grey-darken-4">
        <div class="side-menu-header"><a asp-controller="Home" asp-action="Dashboard" class="color-blue-grey-lighten-5">PROJ&trade;</a></div>
        <div class="side-menu-actions">
            <a asp-controller="Home" asp-action="Dashboard" class="menu-action color-blue-grey-lighten-4">
                <span class="fas fa-home"></span>
                Home
            </a>
            <a asp-controller="Project" asp-action="Index" class="menu-action color-blue-grey-lighten-4">
                <span class="fas fa-folder-open"></span>
                Projects
            </a>
            <a asp-controller="Team" asp-action="Index" class="menu-action color-blue-grey-lighten-4">
                <span class="fas fa-users"></span>
                Teams
            </a>
        </div>
        <div class="side-menu-team">
            <a class="menu-action color-blue-grey-lighten-5" href="@Url.Action(nameof(TeamController.Show), "Team", new { id = UserRepository.GetCurrentUser().ActiveTeam?.Id })">@UserRepository.GetCurrentUser().ActiveTeam?.Name</a>
        </div>
        <div class="side-menu-footer">
            <div class="menu-footer-user color-blue-grey-lighten-5">@IdentityUserManager.GetUserName(User)</div>
            <a asp-controller="User" asp-action="LogOut" class="menu-footer-logout menu-action color-blue-grey-lighten-4">Logout</a>
        </div>
    </div>
}