@{
    ViewData["Title"] = "Teams List";
}

@section Scripts {
    <script type="text/javascript" src="~/js/team-functions.js"></script>
}

<partial name="_List" />

<div class="empty-index">No team selected</div>
