@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="page page-login">
    <form method="post" class="page-login-form bg-white">
        <h1>Login</h1>
        <div asp-validation-summary="ModelOnly" class="validation-error-summary"></div>
        <div class="form-group">
            <input asp-for="Input.Username" class="form-input" placeholder="Username" />
            <span asp-validation-for="Input.Username" class="validation-error-message"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" type="password" class="form-input" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="validation-error-message"></span>
        </div>
        <div class="form-group flex">
            <input asp-for="Input.RememberMe" class="form-checkbox" />
            <label asp-for="Input.RememberMe" class="form-label"></label>
        </div>
        <div class="form-group flex login-submit">
            <button type="submit" class="btn btn-teal">Login</button>
        </div>
        <div class="form-group flex loader-container">
            <div class="loader"></div>
        </div>
        <div class="form-group flex login-link">
            Not registered?
            <a asp-area="Identity" asp-page="/Account/Register">Create an account!</a>
        </div>
    </form>
</div>
