@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="page page-login">
    <form method="post" class="page-login-form bg-white">
        <h1>Register</h1>
        <div asp-validation-summary="ModelOnly" class="validation-error-summary"></div>
        <div class="form-group">
            <input asp-for="Input.Username" class="form-input" placeholder="Username" />
            <span asp-validation-for="Input.Username" class="validation-error-message"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" type="password" class="form-input" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="validation-error-message"></span>
        </div>
        <div class="form-group flex login-submit">
            <button type="submit" class="btn btn-teal">Register</button>
        </div>
        <div class="form-group flex loader-container">
            <div class="loader"></div>
        </div>
        <div class="form-group flex login-link">
            Already have an account?
            <a asp-area="Identity" asp-page="/Account/Login">Login!</a>
        </div>
    </form>
</div>
